* {
  margin: 0;
  padding: 0;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

/*
// Document
*/

html, body {
  height: 100%;
}

/*
// Structures
*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: auto;
  background-color: #f3ecec;
}

main {
  border-radius: 10px;
  margin-top: 30px;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #ffffff;
}

article, section {
  margin: 20px 20px 20px 20px;
}

article ~ section {
  margin-top: 3em;
}

header-component > header {
  background-color: #ffffff;
  color: #8d0000;
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-top: 0.5em solid #8d0000;
  border-bottom: 1px solid #8d0000;
}

navbar-component > nav {
  padding-left: 0.5em;
  background-color: #8d0000;
}

footer-component > footer {
  padding: 0.5em 0.5em 0.5em 0.5em;
  padding-top: 3em;
  padding-bottom: 1em;
}

p {
  margin: 0.5em 0 0.5em 0;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/*
// Titles
*/

h1 {
  font-family: 'Alegreya', serif;
  font-size: 3em;
}

h2 {
  font-family: 'Alegreya', serif;
  margin: 0.3em 0 0.3em 0;
  padding-left: 0.2em;
  background: linear-gradient(.25turn, #8d0000, 72%, #ffffff);
  color: #ffffff;
  font-size: 2.2em;
}

h3 {
  font-family: 'Alegreya', serif;
  margin: 0.8em 0 0.8em 0;
  color: #8d0000;
  font-size: 1.5em;
}

h4 {
  font-family: 'Alegreya', serif;
  margin: 0.8em 0 0.3em 0;
  border-bottom: 0.2em solid;
  color: #8d0000;
  font-size: 1.3em;
}

h5 {
  font-family: 'Alegreya', serif;
  margin: 0.6em 0 0.3em 0;
  color: #8d0000;
  font-size: 1.1em;
}

header > .subtitle {
  margin-top: 0.4em;
}

/*
// Lists
*/


ul li {
  margin-left: 15px;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
  margin-left: 0;
}

.nav-root {
  display: none;
}

.nav-links {
  display: none;
}

.nav-list {
  color: #ffffff;
  font-size: 1.1em;
}

.nav-list > li {
  display: inline;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-family: 'Alegreya', serif;
}

.nav-list > li:hover {
  cursor: pointer;
}

/*
// Tables
*/

table {
  margin: 2em 0 2em 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  table-layout: fixed;
  border: 0.2em solid #8d0000;
}

table tr:nth-child(odd) td {
  background: #ffcccc;
}

.is-smallest {
  width: 10px;
}

.is-small {
  width: 25px;
}

.is-medium {
  width: 160px;
}

.is-large {
  width: 320px;
}

.is-centered {
  text-align: center;
}

/*
// Media
*/

.is-tarot-card {
  display: flex;
  justify-content: center;
}

.is-tarot-card > figure > img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto
}

.is-tarot-card > figure > figcaption {
  font-size: 0.8em;
}

#dragon-banner {
  display: none
}

img.is-red {
  filter: invert(7%) sepia(80%) saturate(5525%) hue-rotate(5deg) brightness(107%) contrast(115%);
}

/*
// Phrases
*/

nav a {
  color: #aaa;
  display: block;
  font-size: 15px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
}

.is-stressed {
  font-weight: bold;
}

.is-caption {
  margin-top: 0;
  font-style: italic;
  font-size: 0.9em;
}

.is-spell {
  font-style: italic;
}

.is-small-text {
  font-size: 0.8em;
}

a.is-discrete {
  all: unset;
}

a.is-discrete:hover {
  cursor: pointer;
}

/*
// Misc
*/

.burger-icon span {
  display: block;
  width: 30px;
  height: 5px;
  background-color: #8d0000;
  margin: 5px 0;
}

@media (min-width: 480px) {

  /*
  // Media
  */

  .is-tarot-card {
    display: block;
    margin: 10px 0 85px 25px;
    float: right;
  }

  .is-tarot-card > figure > img {
    width: 250px;
  }

}

@media only screen and (min-width: 768px) {

  /*
  // Structures
  */

  header-component > header {
    padding-bottom: 1.5em;
  }

  /*
  // Media
  */

  .is-tarot-card > figure > img {
    width: 340px;
  }

}

@media only screen and (min-width: 1024px) {

  /*
  // Structures
  */

  .is-page {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }

  main {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .nav-root {
    display: block!important;
  }

  .burger-menu {
    display: none;
  }

  /*
  // Lists
  */

  .nav-links li {
    display: inline-block;
  }

  /*
  // Phrases
  */

  /*
  // Misc
  */

  #dragon-banner {
    display: inline;
    width: 140px;
  }


}
